Django>=4.2,<5.0
gunicorn>=21.2.0,<24.0
whitenoise==6.8.0
Pillow>=10.0.0,<12.0
razorpay>=1.4.0,<2.0
dj-database-url>=2.1.0,<3.0
psycopg2-binary>=2.9.0,<3.0
setuptools>=80.0.0,<81.0.0
pycryptodome>=3.20.0,<4.0.0
six>=1.16.0,<2.0.0

# CLOUDINARY - CORRECT PACKAGE NAMES
cloudinary>=1.37.0,<2.0
django-cloudinary-storage>=0.3.0,<1.0
